GitHub Webhooks get 403 response

Hi, I'm pushing a new version of both my scripts, https://github.com/ghostscript3r/poe-trade-enhancer and https://github.com/ghostscript3r/poe-trade-official-site-enhancer as https://openuserjs.org/users/ghostscript3r

All previous release were updated with webhooks without a problem and settings haven't been changed (https://openuserjs.org/github/hook, application/json
application/x-www-form-urlencoded and I use only master branch). Last release 4 days ago returned 403 error response. I tryed manually to resend the push and I still get 403.
The response body is empty, so I have no idea what to check next. I searched similar issues but they all seem related to using branch different from master, and that's not my case.

Also the same update was successful on GreasyFork (no webhook though) so I'd say it shouldn't be a problem with the script itself.

Looking better, the payload was with "ref": "refs/tags/v1.3.379" instead of master, even if I have just one branch. "v1.3.379" is just a tag created with release function in github. I don't have any idea why the webhook didn't start with the push to master and instead started after tagging. An error message in the body of the response would help a lot though.

@ghostscript3r 

As I've mentioned at least once before the webhook routine takes a "list" and only acknowledges if it's been accepted or not. Keeping an open connection to GH, for any individual file sync's, can be a DoS vector and is discouraged in most circles even outside of GH.

There are some changes in progress on GH that may make things break with OUJS code and referenced at #1705 #1432 so you may have encountered a hiccup from them regarding some of their changes. I'm running a webhook retest momentarily.


Currently passing at [RFC 2606§3 - Hello, World!](https://openuserjs.org/scripts/Marti/RFC_2606%C2%A73_-_Hello,_World!)