Editing user content textarea causes 400 Bad Request

### Steps To Reproduce
1. Add a script to OUJS with any method.
2. Click "Edit Mode" at [edit](https://openuserjs.org/script/httplocalhost.localdomain/RFC_2606%C2%A73_-_Hello,_World!_%28pasted%29/edit)
3. Make a change to the user content area
4. Click "Save" button
### EDITING:
- [RFC 2606§3 - Hello, World! (pasted)](https://openuserjs.org/scripts/marti/httplocalhost.localdomain/RFC_2606%C2%A73_-_Hello,_World!_%28pasted%29)

_Please use Firefox `Inspect Element` or `Inspect Element with Firebug` to view actual Urls below this point_
### RESULT: Bad Request _(400)_
- [RFC 2606§3 - Hello, World! (pasted)](https://openuserjs.org/scripts/marti/httplocalhost.localdomain/RFC_2606%A73_-_Hello,_World!_%28pasted%29) **NOTE**: URL is encoded improperly
### EXPECTED RESULT: OK _(200)_
- [RFC 2606§3 - Hello, World! (pasted)](https://openuserjs.org/scripts/marti/httplocalhost.localdomain/RFC_2606%C2%A73_-_Hello,_World!_%28pasted%29) **NOTE**: URL is encoded properly. 
### Reproducible

**ALWAYS** when UTF-8 characters are present in script metadata block for `@name`... Spaces seem to be exempt from this since it's metadata.
### Applies to:
- Existing pasted scripts
- Existing uploaded scripts
- Existing repo linked scripts
### Related to:
- #91
  - [comment](/OpenUserJs/OpenUserJS.org/issues/91#issuecomment-42732937)
- #90
### NOTE(S)

Potential Fix Point at Last History Commit Head for this File
- [8bb5042 scriptEdit.html#L73](https://github.com/OpenUserJs/OpenUserJS.org/blob/8bb5042cab43fe55ee0ddf705cdfead303581ce2/views/scriptEdit.html#L73)

I don't see any specific code being called from this line and I don't see any more `redirectUrl` or `redirect` methods that you haven't already encoded... so I don't know where else to look right now.
