Displayed GH WebHook URL not referencing GH properly

When attempting to import scripts from a GitHub _(GH)_ repository, user.js found returns no fully qualified domain name _(FQDN)_ for the url instead of a FQDN pointing to GH. This renders [the view](https://openuserjs.org/user/add/scripts) with a link to a non-existent path on openuserjs.org _(OUJS)_.

Potential target code fix points:
- [HEAD/.../repoManager.js#L123-124](https://github.com/OpenUserJs/OpenUserJS.org/blob/4f93b35695e961e16d773772ab7b84bddbb76e38/libs/repoManager.js#L123-124)
- [HEAD/.../addScripts.html#L49](https://github.com/OpenUserJs/OpenUserJS.org/blob/b9b9c49689c3f8dc41615d6970256fa19dc9fd1d/views/addScripts.html#L49)

Value for `{{{url}}}` in referenced  addScripts.html doesn't contain a [hostname](https://developer.mozilla.org/docs/Web/API/URLUtils.hostname) _(using JavaScript nomenclature)_ and rendered url becomes [https://openuserjs.org/Martii/UserScripts/master/RFC 2606§3 - Hello, World.user.js ](https://openuserjs.org/Martii/UserScripts/master/RFC 2606§3 - Hello, World.user.js) which 404's when primary clicked.

The url value for display should probably be 
`https://github.com/Martii/UserScripts/blob/master/RFC%202606%C2%A73%20-%20Hello%2C%20World.user.js`
in addScripts.html and 
`https://github.com/Martii/UserScripts/raw/master/RFC%202606%C2%A73%20-%20Hello%2C%20World.user.js`
in repoManager.js if I'm reading the source correctly.

**EDIT**: Please note the `/raw` and `/blob` in the pathname too which would probably mean there needs to be a second variable to denote blobs versus raws. One perhaps for internal site use with importing and loading, and one for public viewings... or some sort of function to generate the correct url for each case.

I suspect this is why there are some issues with automatically importing user.js from GH but needs further feedback. Most scripts on [OUJS](https://openuserjs.org) have either been uploaded or pasted in from what I can tell and it would fantastic to have the webhook functional regardless of the state of #16.
