Test and support new option for *express-minify* with keeping comments

See also:
- [x] SummerWish/express-minify#15
- [x] https://github.com/OpenUserJS/OpenUserJS.org/commit/1b595bb6a986a781fa87f04cc27e31a011b81dbb
- [x] mishoo/UglifyJS2#583 _(fixed with mishoo/UglifyJS2#608 ... retested with known derivations to the UserScript metadata block including tab characters... ~~not released yet though~~ v2.6.1+)_
- [ ] mishoo/UglifyJS2#448 _(git://github.com/mishoo/UglifyJS2#harmony and git://github.com/OpenUserJs/UglifyJS2#harmony-named+cdba43c)_ *(WIP)*
- [ ] mishoo/UglifyJS2#88 _(not blocking yet)_ ... may be fixed
- [x] SummerWish/express-minify#42
- [x] SummerWish/express-minify#44
- [x] Establish the core UI elements with _bootstrap_
- [x] Establish testing methodology _(loading two instances of _UglifyJS2_ and separated out handling of package .js vs userscript/lib scripts)_
- [x] Establish permanent url usage
- [ ] Custom config _UglifyJS2_ options. _(partially started)_
- [x] mishoo/UglifyJS2#935 with PR mishoo/UglifyJS2#962
- [x] mishoo/UglifyJS2#1001
- [x] OpenUserJS metadata block option to denote possible unstable with minification but still allow... Change UI coloring and notice of "The script author suggests that minification of this script may be unstable."
- [ ] Migrate to [*terser*](https://github.com/terser-js/terser)
- [ ] #793


---

SummerWish f.k.a Breeswish was gracious enough to grant the request for enhancement and a personal thank you goes out.
avdg fixed the newline issue in the UserScript metadata block with minification.... once again thank you too.

---

OUJS refs:
- https://openuserjs.org/discuss/How_to_disable_install_with_minification_on_my_script

  

Now that this has been in experimental status for a few weeks ***(and there is interest)*** I wanted to reiterate in some different words that minification is a type of "site forking" in which OUJS via *UglifyJS2* forks the script in minified form. Being a little direct here for prior remarks... forking is allowed on any script... this is no different than GH... just a little more automated.  Authors may at their option "unsupport" this if issues are found with minfied code **but that becomes an upstream issue with _UglifyJS2_** as we at OUJS are a pass through for this. e.g. a messenger. If *express-minify* encounters an error with minification it has an error trap to return the native/raw code.

Since SummerWish is a little busy at the moment I've temporarily forked his project on OUJS and bumped his version for testing. All of my ES6 scripts minify now in dev and local pro... however those are also ancient from the defunct USO. jerone has [one ES6 stated specific script](https://openuserjs.org/install/jerone/Horizon_TV_Fixer.min.user.js) and when I bump the dep to our fork he and his users can say if it's working before an update from GH. *(this last part will lead into some discussion as well but one step at a time)*

There are a few more options that we can set, including but not limited to, not mangling identifier names e.g. `var someIdentifier = 10;` becomes shortened with some other letter *(back to BASIC days I guess)* such as `var a = 10;`... this is one of the defaults we're currently using already with ES5. Currently we use all the defaults of *UglifyJS2*.

As a final note... we've been minifying all of our deps .js since *express-minify* was added... so it does work well so far.

I'm not sure why, but...
Try this one: https://openuserjs.org/scripts/ts/Test_Script_for_Keep_Comments
It removed the comment 8

@tiansh 
Try it on a newline and see what it does... there was [a newline issue](https://github.com/mishoo/UglifyJS2/issues/583) that may affect this... I don't know if all types were affected... `//` vs `/*`

@Marti ahh, i got it. it is [an old issue on unglifyjs](https://github.com/mishoo/UglifyJS2/issues/88)...

@tiansh Cc: @mishoo , @avdg , @fabiosantoscode

So I've retested a few tests... and yes Function Expressions have some issues currently... which is unfortunate. I've disabled all of the compressor options in another test and it still wipes out the comments in certain situations.

As we initially stated make a comment on your script homepage for now... eventually I'll attempt to put in a key for the OpenUserJS metadata block that will be something like `@unstableminify` or the like if an author ends up using those... until then "don't bend it where it hurts" is a good idea. I want to give *UglifyJS2* every chance to contribute and test their ideas... so disabling this feature is not an option at this time... just like disabling OUJS support issues isn't an option even if someone is using another issue tracker like GH with `@support`.

The ES6 [template strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings#Multi-line_strings) @sizzlemctwizzle mentioned might be a better route for coding in general. I have not tested those yet with this feature as the harmony branch hasn't been activated on OUJS yet and is only local in my dev right now.

Please remember this feature enhancement is still experimental and when I get to the point where I can dig into UglifyJS2 a bit I might be able to add a new perspective but I'll have to learn their system more. I'm still just barely working/learning with the current API that has been exposed. 

With time things can change... and I know some people are afraid of change.

Ref:
* mishoo/UglifyJS2#88

@tiansh 

I have roughed in the feature in for your edge use case. I would suggest using something like this OpenUserJS metadata block template for what you need... this is now active on production. Please note this is **not** inclusive to the UserScript metadata block. 

As I mentioned on OUJS production putting in a reason improves your users experience as to why something may or may not be useful to them... plus we can track down if the dependency fails with some good explanations... so I recommend something like the below message:

``` js
// ==OpenUserJS==
// @unstableMinify Multi-line strings with Function Expressions
// ==/OpenUserJS==
```

Just a note here [https://openuserjs.org/scripts/Marti/RFC_2606%C2%A73_-_ES6_Template_String_Unit_Test](RFC 2606§3 - ES6 Template String Unit Test) fails with minification now. e.g. the multi-line string is removed. This used to work.

Note: express-minify was upgraded to v1.0 several weeks ago, and there are many breaking API changes (nearly all interfaces are refined). You may want to take a look at the new README to make adaption.